@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* button and modals */
.cancel_button {
  background-color: rgb(243, 172, 111);
  font-size: 20px;
  cursor: pointer;
  color: black;
}
.confirm_button {
  background-color: rgb(194, 244, 145);
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.action_button {
    font-family: 'Sans sariff', monospace;
    color: #f6f3f9;
    font-weight: bold;
    background-color: rgb(58, 99, 161);
    font-size: 22px;
    cursor: pointer;
    padding: 20px;
}
.start_run {
  background-color: rgb(55, 113, 82);
  color: white;
}
.stop_run {
  background-color: rgb(246, 166, 74);
  color: black;
}
.delete_run {
  background-color: rgb(156, 87, 88);
  color: white;
}
.modal_box {
  border: 2px solid rgba(8, 8, 8, 0.96);
  padding-left: 10px;
  margin: 15px;
}

/* table styling */
.table_heading_h2 {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}
.table-header {
  background-color: #5f7071;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 20px 195px;
  /* color: black; */
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-align: center;
}
.table_container {
  /* max-width: 1000px; */
  margin-left: 0px;
  margin-right: 25px;
  padding-left: 0px;
  padding-right: 10px;
}
.pointer {
  cursor: pointer;
}

.active {
  background-color: rgb(245, 144, 66);
  color: white;
}

/* default styles */

body{
    background: #36393e;
    margin: 10;
  }

a, p, h1, h2, h3, h4, h5, h6, li, tr, td{
    font-family: 'Sans sariff', monospace;
    color: #f6f3f9;
    font-weight: normal;
}

td {
  padding: 10px;
}

li {
  border-radius: 3px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-align: center;
}    
ul {
  overflow: auto;
}	


